{% extends 'chat/_base.html' %}
{% load static %}
{% block title %} Welcome {% endblock %}

{% block content %}
<div class="container-fluid cp-home-container p-0 m-0">
    <div class="row cp-home-row p-0 m-0">

        <div class="col-md-5 col-sm-6 h-100 cp-home-left-bar p-0 m-0">
            <nav class="navbar bg-primary p-1 m-0 cp-home-left-nav">
                <a href="{% url 'chat:settings' %}" class="navbar-brand rounded-circle p-0 d-flex align-items-center " style="width:30px;height:30px;overflow:hidden">
                    <img src="{{user.chatuser.profile_photo.url}}" alt="img" style='object-fit:fill' class="img-fluid m-0 p-0 w-100 ">
                </a>
                <div class="cp-home-search-box-container d-flex">
                    <button class="cp-home-search-guide-icons p-0 border-0">
                        <i class="fa-solid fa-magnifying-glass cp-home-search-focus-icon"></i>
                        <i class="fa-solid cp-hide fa-arrow-left cp-home-search-cancel-icon"></i>
                    </button>
                    <input type="text" class="form-control cp-home-search-input" id="cpHomeSearchInput" placeholder="search here ...">
                </div>
            </nav>
            
            <div class="cp-home-left-content-area bg-white">
                <div class="cp-home-user-and-group-list-container p-0 m-0">
                
                </div>
                <div class="cp-hide cp-home-search-results-container">
                </div>
            </div>

            <!-- bubble icon to create group -->
            <div class="cp-home-bubble-action-create-group">
                <i class="fa-solid fa-plus cp-home-bubble-action-create-group__icon"></i>
            </div>

            <!-- Create Group popup -->
            <div class=" cp-popup-full cp-home-popup-create-group cp-hide">
                <nav class="d-flex align-items-center bg-light cp-home-popup-create-group__nav m-0" style="height:50px">
                    <button class="btn btn-secondary cp-home-popup-create-group__cancel">
                        <i class="fa-solid fa-multiply"></i>
                    </button>
                    Create new group
                </nav>

                <div class="cp-home-popup-create-group__groupname m-0" style="height:70px">
                    <div class="mb-3 p-1">
                        <label for="groupname" class="form-label visually-hidden">Group name</label> 
                        <input type="text" id='groupname' class="form-control cp-home-popup-create-group__groupname__input"  placeholder="enter group name ...">  
                        <span class="cp-form-error cp-home-popup-create-group__groupname__errors" ></span>
                    </div>
                </div>

                <div class="cp-home-popup-create-group__selectusers px-1 m-0 " style="height:calc(100% - 170px)">
                    <ul class="cp-home-popup-create-group__selectusers__list list-style-none m-0 p-0 h-90" style="height:calc(100% - 30px); overflow-y: scroll;">
                        
                    </ul>
                    <span class="cp-form-error cp-home-popup-create-group__selectusers__errors" ></span>
                </div>

                <div class="cp-home-popup-create-group__done m-0" style="height:40px">
                    <button class="btn btn-primary cp-home-popup-create-group__done_btn h-100">Done</button>
                </div>
            </div>
        </div>

        <div class="col-md-7 d-sm-block col-sm-6 d-none p-0 m-0 h-100 cp-home-chatcontent cp-home-chatroom-container">

        </div>
    </div>
</div>
{% endblock %}
{% block localjs %}

<!-- Include this script in your HTML template -->


<script>
    
// Start listening for changes
//UrlRouter.listen();

// Simulate a change in URL

/* END */
</script>

{%endblock localjs %}